@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to Open Tracker</h1>
    <p>
        Open Tracker is an open source all in one project management solution currently being developed in C#.
        To get started click on register to create an account, and then click create a new project.
    </p>
</div>
