@model open_tracker.Models.ProjectMembers

@{
    ViewData["Title"] = "Confirm Removal";
}

<h1>Confirmation</h1>

<p>Are you sure that you wish to remove @Html.DisplayFor(modelItem => modelItem.User.FirstName) @Html.DisplayFor(modelItem => modelItem.User.LastName)?</p>
<a asp-controller="Projects" asp-action="RemoveUserConfirmed" asp-route-id="@Model.Id" class="btn btn-danger btn-rounded btn-sm ml-2">Remove</a>
<a asp-action="ProjectMembers" asp-route-id="@Model.ProjectId" class="btn btn-outline-warning btn-rounded btn-sm ml-2">Cancel</a>
