@model open_tracker.Models.Issues

@{ ViewData["Title"] = "Edit"; }

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IssueId" />
            <input type="hidden" asp-for="IsActive" />
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="CreatorId" />
            <input type="hidden" asp-for="UserId" />
            @*<input type="hidden" asp-for="Creator" />*@

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="PriorityId" class="control-label">Priority</label>
            <input asp-for="PriorityId" class="form-control" />
            <span asp-validation-for="PriorityId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label class="control-label">Priority</label>
                <select id="PriorityId" asp-for="PriorityId" class="form-control" asp-items="ViewBag.PriorityId"></select>
            </div>
            @if (ViewBag.IsProjectManager == true)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsReviewed" /> @Html.DisplayNameFor(model => model.IsReviewed)
                    </label>
                </div>
                <div hidden class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsReviewed" /> @Html.DisplayNameFor(model => model.IsReviewed)
                    </label>
                </div>
            }
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success btn-rounded btn-sm" />
                <a asp-action="Details" asp-route-id="@Model.ProjectId" class="btn btn-outline-secondary btn-rounded btn-sm">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
